body{
  background: rgb(228, 221, 221);
}

.App{
  background: rgba(255, 255, 255, 0.897);
  margin: 20px auto;
  width:90%;
  max-width: 700px;
  color:rgb(0, 0, 0);
}

.navbar{
  padding: 10px 20px;
  text-align: center;
  background: rgb(21, 9, 29);
  color:azure;
  ;
}
.navbar h2{
  margin: 10px 0px;
}